body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  overflow: auto;
}

.flex-item {
  border: 1px solid black;
  border-radius: 5px;
  margin: 2em 2em 2em 2em;
  width: 100px;
  height: 100px;
}

.flex-item:hover {
  cursor: pointer;
  background-color: GhostWhite;
}

.item-title {
  padding: 0 0 0 0;
  margin: 1px 1px 1px 1px;
  font-weight: bold;
  width: 100px;
  height:60px;
  left: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.workers {
  grid-area: workers;
  overflow: scroll;
}

.hermesworker {
  grid-area: hermesworker;
  overflow: scroll;
}

.nav {
  grid-area: nav;
  overflow: hidden;
  border-bottom: solid 1px;
}

.footer {
  grid-area: footer;
}

ul.worker-list {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.worker-list-item {
  width: 60%;
  height: 30px;
  transition-duration: 0.4s;
  margin: 5px;
  padding: 0 0 0 0;
  outline: none;
  background-color: white;
  border-radius: 5px;
  border: none;
}

.worker-list-item:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.hermesworker-nav {
  display: flex;
  width: 100%;
  border-bottom: solid 1px;
}

.hermesworker-nav-buttons {
  width: 20%;
}

.path-buttons {
  width: 80%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 2rem;
  display: flex;
}

.path-button {
  float: left;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 2px;
  color: black;
  outline: none;
}

.path-button:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.path-buttons-tuple {
  display: flex;
}

.path-buttons-sep {
  padding: 0 0 0 0;
  margin: 2px;
  margin-top: 4px;
}

.nav-button {
  float: left;
  position: relative;
  transform: translateY(20%);
  padding: 0 0 0 0;
  margin: 0 0 0 10px;
  width: 100px;
  height: 70%;
  transition-duration: 0.4s;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  border: solid 1px;
  outline: none;
}

.nav-button:hover {
  background-color: blue;
  cursor: pointer;
  color: white;
}

.nav-button-title {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.hermesworker-nav-flex-item {
  float: right;
}

.hermesworker-nav-flex-item:hover {
  cursor: pointer;
}

.upload-form {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  border: solid 1px;
  border-radius: 5px;
  z-index: 2;
}

.upload-form-top {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}

label.upload-form-file-input {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 40px;
}

label.upload-form-file-input:hover {
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.upload-form-bottom {
  display: flex;
  width: 100%;
  height: 50px;
  border-radius: 5px;
}

.submit-button {
  width: 50%;
  height: 100%;
  background-color: lightgreen;
  border: none;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  outline: none;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: mediumseagreen;
  color: white;
}

.close-button {
  width: 50%;
  height: 100%;
  background-color: crimson;
  border: none;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  outline: none;
  border-radius: 5px;
}

.close-button:hover {
  background-color: maroon;
  color: white;
}

h3.nav-user-name {
  text-align: right;
}
